@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@200;400;600&family=Poppins:wght@100;200;300;400&display=swap");

:root {
  /* colors */
  --color-primary: #de364b;
  --color-secondary: #d4d4d4;

  /* width (responsive sizes) */
  --container-width-lg: 88%;
  --container-width-md: 88%;
  --form-width: 40%;
}

/* ---------- general styles --------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  appearance: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-image: url("../images/long-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  width: var(--container-width-lg);
  margin: 2rem auto;
  font-family: "Viga", sans-serif;
}

/* -------- nav starts --------- */

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #22252a;
  padding: 2.3rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(210, 210, 210, 0.1);
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.nav-links a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.logo img {
  position: absolute;
  width: 127px;
  height: 85px;
  left: 114px;
  top: 10px;
}

/* ---------- nav ends ---------- */

/* --------- hero secon ----------- */

.hero {
  padding: 5rem;
  padding-right: 10px;
  display: flex;
}

.hero.info {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.hero .hero-img img {
  width: 600px;
  height: 600px;
}

.hero .info h1 {
  padding-top: 124px;
  font-size: 70px;
  color: white;
  width: 400px;
}
.hero .info h1 pre {
  font-family: "Viga", sans-serif;
}

.hero .info h4 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 200;
  padding-bottom: 20px;
}

.about-btn {
  margin: 25px 10px;
  width: 8.2rem;
  padding: 5px;
  aspect-ratio: 2.5/1;
}
.about-btn a {
  font-size: 15px;
}

.btn {
  width: 8rem;
  aspect-ratio: 3/1;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid white;
  transition: 0.3s ease-in-out;
}

.btn a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  /* font-size: 18px; */
}

.btn:hover {
  background-color: var(--color-primary);
  border: none;
  transform: scale(1.1);
}

.btn:hover a {
  color: var(--color-secondary);
}

/* -------- hero ends --------- */

.about .column {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  padding: 3rem;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.about .column .h1 {
  padding: 3rem 2rem;
  text-align: left;
}

.heading {
  color: #ffffff;
  font-family: "Viga";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 94px;
  margin-bottom: 15px;
}

.heading p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.image {
  width: 457px;
  height: 459px;
  left: 872px;
  top: 268px;
}

.token .column {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 3rem;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  margin-top: 180px;
}

.token .image {
  width: 414px;
  height: 399px;
  left: 113px;
  top: 304px;
}

.token h1 {
  font-family: "Viga";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 94px;
  color: #ffffff;
  text-align: end;
}

.token p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #ffffff;
}
