@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@200;400;600&family=Poppins:wght@100;200;300;400&display=swap");

:root {
  /* colors */
  --color-primary: #de364b;
  --color-secondary: #d4d4d4;

  /* width (responsive sizes) */
  --container-width-lg: 88%;
  --container-width-md: 88%;
  --form-width: 40%;
}

/* ---------- general styles --------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  appearance: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-image: url("../images/long-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  width: var(--container-width-lg);
  margin: 2rem auto;
  font-family: "Viga", sans-serif;
}

/* -------- nav starts --------- */

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #22252a;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(210, 210, 210, 0.1);
}

.nav-txt {
  color: white;
  transition: 0.3s ease-in-out;
}
.nav-txt:hover {
  color: var(--color-primary);
  transform: scale(1.1);
}

header .nav-bar input {
  display: none;
}

header .nav-bar label {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.nav-links {
  width: 50%;
}

.nav-links a {
  color: white;
  font-size: 20px;
  margin-left: 6rem;
  text-decoration: none;
}

.logo img {
  position: absolute;
  width: 127px;
  height: 85px;
  left: 114px;
  top: 10px;
}

/* ---------- nav ends ---------- */

/* --------- hero secon ----------- */

.hero {
  padding: 5rem;
  padding-right: 10px;
  display: flex;
}

.hero.info {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.hero .hero-img img {
  width: 600px;
  height: 600px;
}

.hero .info h1 {
  padding-top: 124px;
  font-size: 70px;
  color: white;
  width: 400px;
}
.hero .info h1 pre {
  font-family: "Viga", sans-serif;
}

.hero .info h4 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 200;
  padding-bottom: 20px;
}

.about-btn {
  margin: 25px 10px;
  width: 8.2rem;
  padding: 5px;
  aspect-ratio: 2.5/1;
}
.about-btn a {
  font-size: 15px;
}

.btn {
  width: 8rem;
  aspect-ratio: 3/1;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid white;
  transition: 0.3s ease-in-out;
}

.btn a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  /* font-size: 18px; */
}

.btn:hover {
  background-color: var(--color-primary);
  border: none;
  transform: scale(1.1);
}

.btn:hover a {
  color: var(--color-secondary);
}

/* -------- hero ends --------- */

.about .column {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  padding: 3rem;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.about .column .h1 {
  padding: 3rem 2rem;
  text-align: left;
}

.heading {
  color: #ffffff;
  font-family: "Viga";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 94px;
  margin-bottom: 15px;
}

.heading p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.image {
  display: flex;
  height: 900px;
  align-items: center;
  justify-content: center;
}

.token .column {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 3rem;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  margin-top: 180px;
}

.token .image {
  width: 414px;
  height: 399px;
  left: 113px;
  top: 304px;
}

.token h1 {
  font-family: "Viga";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 94px;
  color: #ffffff;
  text-align: end;
}

.token p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #ffffff;
}
.token-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}
.juverse-btn {
  margin: 25px 10px;
  width: 8.2rem;
  padding: 5px;
  aspect-ratio: 3/1;
}
.juverse-btn a {
  font-size: 15px;
}

.footer .box-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  margin-top: 180px;
}

.box-container .box h3 {
  font-family: "Viga";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #ffffff;
  text-align: start;
}

.box-1 h3 {
  font-family: "Viga";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #ffffff;
  text-align: end;
}

.icon img {
  padding: 0.2rem;
}

@media (max-width: 1250px) {
  html {
    font-size: 65%;
  }

  .nav-bar {
    padding: 3.5rem 9%;
  }
  .nav-bar .nav-links{
    font-size: 55%;
  
  }

  .nav-links a {
    margin-left: 7rem;
  }
  .hero .hero-img img {
    width: 450px;
    height: 450px;
    overflow: hidden;
  }
  .hero .info h1 {
    padding-top: 128px;
    font-size: 50px;
    color: white;
    width: 350px;
  }
  
  .hero .info h4 {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 200;
    padding-bottom: 20px;
  }
  .btn {
    width: 8rem;
    aspect-ratio: 2/1;
    border-radius: 10px;
  }
  .btn a {
    font-weight: 500;
    font-size: 12px;
  }
  .about .column {
    font-size: 20px;

  }
  
  .about .column .h1 {
    padding: 2.5rem 1.5rem;
    text-align: left;
  }
  
  .heading {
    font-size: 60px;

  }
  
  .heading p {
    font-size: 24px;
    line-height: 25px;
  }
  .image {
    height: 700px;
  }
  .image img{
    width: 350;
  }

  .token .column {
    padding: 2.8rem;
    border-radius: 30px;
    margin-top: 160px;
  }
  
  .token h1 {
    font-size: 60px;
  }
  
  .token p {
    font-size: 24px;
    line-height: 25px;
  }
  .token-btn {
    padding: 20px;
  }
  .juverse-btn {
    margin: 25px 10px;
    width: 8.2rem;
    padding: 5px;
    aspect-ratio: 3/1;
  }
  .juverse-btn a {
    font-size: 15px;
  }
  
}

@media (max-width: 1120px) {
  .nav-bar {
    padding: 3rem 8%;
  }
  .nav-bar .nav-links{
    font-size: 50%;
  
  }
  .nav-links a {
    margin-left: 6rem;
  }
  .about .column {
    font-size: 20px;

  }
  
  .about .column .h1 {
    padding: 2.1rem 1.1rem;
    text-align: left;
  }
  
  .heading {
    font-size: 55px;

  }
  
  .heading p {
    font-size: 20px;
    line-height: 22px;
  }
  .image {
    height: 680px;
  }
  .image img{
    width: 325px;
  }
  .token .column {
    padding: 2.5rem;
    border-radius: 26px;
    margin-top: 120px;
  }
  
  .token .image {
    height: 550px;
  }
  
  .token h1 {
    font-size: 55px;
  }
  
  .token p {
    font-size: 20px;
    line-height: 22px;
  }
  .token-btn {
    padding: 20px;
  }
  .juverse-btn {
    margin: 25px 10px;
    width: 8.2rem;
    padding: 5px;
  }
  .juverse-btn a {
    font-size: 15px;
  }
  
 
 

}
@media (max-width: 980px) {
  .nav-bar {
    padding: 3rem 8%;
  }
  .nav-bar .nav-links{
    font-size: 45%;
  
  }
  .nav-links a {
    margin-left: 4.5rem;
  }
 
  .hero .hero-img img {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }
  .hero .info h1 {
    padding-top: 100px;
    font-size: 45px;
    color: white;
    width: 300px;
  }
  
  .hero .info h4 {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 200;
    padding-bottom: 18px;
  }
  .btn {
    width: 7rem;
    aspect-ratio: 2/1;
    border-radius: 10px;
  }
  .btn a {
    font-weight: 500;
    font-size: 10px;
  }
  .about .column {
    font-size: 18px;

  }
  
  .about .column .h1 {
    padding: 2rem 1rem;
    text-align: left;
  }
  
  .heading {
    font-size: 50px;

  }
  
  .heading p {
    font-size: 20px;
    line-height: 22px;
  }
  .image img{
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  .token .column {
    padding: 2rem;
    border-radius: 20px;
    margin-top: 100px;
  }
  
  .token .image {
    height: 300px;
  }
  
  .token h1 {
    font-size: 45px;
  }
  
  .token p {
    font-size: 20px;
    line-height: 22px;
  }
  .token-btn {
    padding: 20px;
  }
  .juverse-btn {
    margin: 25px 10px;
    width: 8.2rem;
    padding: 5px;
  }
  .juverse-btn a {
    font-size: 15px;
  }
  
 
 
  
}

@media (max-width: 768px) {
  header .nav-bar label {
    visibility: visible;
    opacity: 1;
  }

  header .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #22252a;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(210, 210, 210, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.2s linear;
  }

  header .nav-links a {
    display: block;
    margin: 4rem 0;
    margin-left: 6rem;
    font-size: 20px;
  }

  header input:checked ~ .nav-links {
    transform: scaleY(1);
    opacity: 1;
  }

  header input:checked ~ label::before {
    content: "\f00d";
  }

  .logo img {
    left: 50px;
  }
}

@media (max-width: 450px) {
  .logo img {
    left: 30px;
  }
  header .nav-links a {
    margin-left: 4rem;
  }
}


/* @media (max-width: 980px) {
  .nav-bar {
    padding: 3.5rem 9%;
  }
}

@media (max-width: 768px) {
  header .nav-bar label {
    visibility: visible;
    opacity: 1;
  }

  header .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #22252a;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(210, 210, 210, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.2s linear;
  }

  header .nav-links a {
    display: block;
    margin: 4rem 0;
    margin-left: 6rem;
    font-size: 20px;
  }

  header input:checked ~ .nav-links {
    transform: scaleY(1);
    opacity: 1;
  }

  header input:checked ~ label::before {
    content: "\f00d";
  }

  .logo img {
    left: 50px;
  }
}

@media (max-width: 450px) {
  .logo img {
    left: 30px;
  }
  header .nav-links a {
    margin-left: 4rem;
  }
} */
