@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

:root {
  /* colors */
  --color-primary: #de364b;
  --color-secondary: #d4d4d4;

  /* width (responsive sizes) */
  --container-width-lg: 88%;
  --container-width-md: 88%;
  --form-width: 40%;
}

/* ---------- general styles --------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  appearance: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  width: var(--container-width-lg);
  margin: 2rem auto;
  font-family: "Viga", sans-serif;
}

/* -------- nav starts --------- */

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #22252a;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.logo img {
  position: absolute;
  width: 198px;
  height: 132px;
  left: 114px;
  top: 0;
}

/* ---------- nav ends ---------- */

/* --------- hero section ----------- */

.hero {
  padding: 5rem;
}

.hero.info {
  height: fit-content;
}

.hero.info h4 {
  padding: 5rem;
}

.btn {
  width: 8rem;
  aspect-ratio: 3/1;
  border-radius: 1.5rem;
  background-color: transparent;
  border: 3px solid var(--color-primary);
}

.btn a {
  color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-primary);
}

.btn:hover a {
  color: var(--color-secondary);
}

/* -------- hero ends --------- */

/* --------- about section ----------- */
.about {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
