/* =========CSS RESET======== */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Viga", sans-serif;
}

/* ===================CSS Variables====================== */

:root {
  --primary-color: #22252a;
  --secondary-textcolor: #d9d9d9;
  --card-bgcolor: #353535;
  --headcard-rectcolor: #ff3636;
  --card-rectcolor: #3dd8cf;
}

/* =========BODY============== */

body {
  background: url(../images/bg.png) center center/cover;
}

/* ===============Styling Header========== */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* ================Header Image Styling=============== */

.header-img img {
  width: 150px;
}
/* ================Header Images Styling --> JU VERSE LOGO=============== */
#juverse-logo {
  margin-right: 20px;
}

/* =============Styling Team Information============= */

.team-info {
  flex-direction: column;
}

/* =============Styling Team Information -- > Paragraph============= */
.team-info p {
  font-size: 20px;
  text-align: center;
  padding: 30px;
  color: var(--secondary-textcolor);
}

/* ========== Card Container styling============ */
.tcontainer {
  display: flex;
  width: 100%;
}

#team-container3 {
  width: 100%;
}

#head-container {
  width: 100%;
}

.team-container {
  margin: 100px 0px;
}

/* ========== Card Container styling-- > Head-Red Rectangle UP============ */
.team-container .hrect-up {
  width: 80%;
  background-color: var(--headcard-rectcolor);
  height: 10px;
  border-radius: 0px 0px 5px 5px;
}
/* ========== Card Container styling-- > Blue Rectangle UP============ */
.team-container .rect-up {
  width: 80%;
  background-color: var(--card-rectcolor);
  height: 10px;
  border-radius: 0px 0px 5px 5px;
}

/* ========== Card Container styling-- > IMAGE============ */

.team-container img {
  width: 100px;
  /* border-radius: 50%; */
  padding: 20px;
  clip-path: circle(35% at 50% 50%);
}
/* ========== Card Container styling-- > Head Image shadow ============ */
.team-container .head-image {
  filter: drop-shadow(0 0 15px var(--headcard-rectcolor));
}
/* ========== Card Container styling-- > Image shadow ============ */
.team-container .image {
  filter: drop-shadow(0 0 15px var(--card-rectcolor));
}
/* ========== Card Container styling-- > Description Text============ */
.team-container p {
  color: var(--secondary-textcolor);
  padding: 30px 20px;
}

/* ========== Card Container styling-- > Red Rectangle Down============ */

.team-container .hrect-down {
  width: 80%;
  background-color: var(--headcard-rectcolor);
  height: 10px;
  border-radius: 5px 5px 0px 0px;
}

/* ===============Styling Footer========== */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 150px;
}

/* ================Footer Image Styling=============== */

.footer-img img {
  width: 300px;
}

/* ================Footer Images Styling --> Wave LOGO=============== */
#wave-logo {
  margin-right: 20px;
}

/* =========================Utility Classes======================== */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}
.info-container {
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
}
.h-primary {
  font-size: 3rem;
  text-align: center;
  color: white;
}
.h-secondary {
  font-size: 1.5rem;
  text-align: center;
  color: white;
}
.card {
  text-align: center;
  width: 30%;
  border-radius: 10px;
  height: 329px;
  flex-direction: column;
  margin: 0px 30px;
  background-color: var(--card-bgcolor);
  backdrop-filter: blur(5px);
}

/* ===============================Media Queries============================ */

@media screen and (max-width: 1200px) and (min-width: 900px) {
  /* ================Header Image Styling=============== */

  .header-img img {
    width: 120px;
  }
  /* ================Header Images Styling --> JU VERSE LOGO=============== */
  #juverse-logo {
    margin-right: 25px;
  }

  /* ================Footer Image Styling=============== */

  .footer-img img {
    width: 250px;
  }

  /* ================Footer Images Styling --> JECRC LOGO=============== */
  #wave-logo {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 900px) and (min-width: 630px) {
  .header-img img {
    width: 100px;
  }
  /* ========== Card Container styling============ */

  .team-container {
    margin: 50px 0px;
  }

  #head-container {
    width: 94%;
    flex-wrap: wrap;
  }
  .tcontainer {
    display: flex;
    flex-wrap: wrap;
    width: 94%;
  }

  #team-container3 {
    width: 94%;
    flex-wrap: wrap;
  }

  /* ================Footer Styling=============== */

  .footer {
    padding: 20px 100px;
  }
  /* ================Footer Image Styling=============== */

  .footer-img img {
    width: 200px;
  }
  /* ================Footer Images Styling --> JECRC LOGO=============== */
  #wave-logo {
    margin-right: 5px;
  }
  /* =========================Utility Classes======================== */
  .card {
    width: 40%;
    height: 329px;
    margin: 30px 30px;
  }
  .h-primary {
    font-size: 2rem;
  }
  .h-secondary {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 630px) {
  /* ================Header=============== */
  .team-info {
    margin-top: 20px;
  }
  /* ================Header Image Styling=============== */
  .header-img img {
    width: 80px;
  }
  /* ================Card Container Styling=============== */

  .tcontainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #team-container3 {
    width: 100%;
    flex-wrap: wrap;
  }

  #head-container {
    width: 100%;
    flex-wrap: wrap;
  }
  /* ================Footer Styling=============== */
  .footer {
    padding: 5px 40px;
  }
  /* ================Footer Image Styling=============== */

  .footer-img img {
    width: 140px;
  }
  /* =========================Utility Classes======================== */
  .card {
    width: 40%;
    height: 329px;
    margin: 20px 30px;
  }
  .h-primary {
    font-size: 1.5rem;
  }
  .h-secondary {
    font-size: 1rem;
  }
}
